* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}

header {
	background-color: red;
	opacity: 0.5;
	width: 100%;
    height: 100%;
}

h1 {
	font-size: 42px;
	margin: 0 auto;
	padding-top: 1em;
	text-shadow: 2px 2px 2px #000000;
}

header h2 {
	font-size: 22px;
	padding-top: 0.2em;
	text-shadow: 2px 2px 2px #000000;
}

h1, h2 {
	color: #FFFFFF;
	text-align: center;
	opacity: 1;
}

nav {
	display: inline-block;
	text-align: center;
	width: 100%;
}

nav ul a li {
	display: block;
	list-style: none;
	margin: 0.5em;
	padding: 0.5em;
	transition: all 0.4s;
	border: 1px solid black;
	border-radius: 10px;
}

nav ul a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 1s;
}

nav ul a li:hover {
	transform: scale(1.2);
	border: 0;
}

nav ul a li:hover {
	color: purple;
	text-shadow: 0 0 5px #fff,
		0 0 10px #fff, 0 0 15px #fff,
		0 0 20px cyan,
		0 0 30px cyan,
		0 0 40px cyan,
		0 0 50px cyan,
		0 0 75px cyan;
}

header h1 {
	animation-name: presentacion;
	animation-duration: 3s;
}

header h2 {
	animation-name: presentacion;
	animation-duration: 6s;
}

@keyframes presentacion {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.subir {
	width: 40px;
	height: 40px;
	float: left;
}

#yo {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
    height: 100%;
	background: cyan;
	opacity: 0.5;
	color: black;
}

#yo h2 {
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}

#yo p {
	font-size: 12px;
	margin: 0.8em;
	text-align: justify;
}

#yo article img {
	display: none;
}

#daw {
	background: yellow;
	opacity: 0.5;
	color: black;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}

#daw h2 {
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}

#daw article {
	padding: 1em;
	margin-bottom: 0.5em;
	max-width: 100%;
	opacity: 0.8;
	vertical-align: top;
}

.contenido {
	height: 100%;
	opacity: 0;
	position: relative;
	transition: all 1s;
}

.contenido h3 {
	font-size: 26px;
	padding-top: 1.2em;
	text-align: center;
}

.contenido p {
	padding: 1em;
	text-align: justify;
}

.imagen a {
	color: #000000;
	text-decoration: none;
}

.imagen:hover .contenido {
	background: rgba(255,255,255,0.8);
	opacity: 1;
}

#p9 {
	background: url("../img/9.jpg") center;
}

#p10 {
	background: url("../img/10.jpg") center;
}

#p11 {
	background: url("../img/11.jpg") center;
}

#p12 {
	background: url("../img/12.jpg") center;
}

#p9, #p10, #p11, #p12 {
	background-size: 100% 200px;
	height: 200px;
	width: 100%;
}

#contacto {
	background: green;
	opacity: 0.5;
	color: black;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
    height: 100%;
}

#contacto article {
	text-align: center;
}

#contacto h2 {
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}

#contacto label {
	display: none;
}

#contacto .button {
	font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
	background: #FFFFFF;
	border: 2px solid black;
	color: #000000;
	display: inline;
	margin-top: 2em;
	padding: 0.5em 2em;
	text-transform: uppercase;
}

#contacto .button:hover {
	background: rgba(0,0,0,0.6);
	color: #FFFFFF;
}

#contacto input[type=text], #contacto textarea {
	margin-left: 0.5em;
	margin-bottom: 1em;
	width: 100%;
}

input[required]{
	border-color:blue;
}

input:invalid{
	border-color:red;
}

textarea[required]{
	border-color:blue;
}

textarea:invalid{
	border-color:red;
}

.error {
	color: red;
}

footer {
	background: #000;
	padding: 1em;
	text-align: center;
	margin: 0 auto;
	padding: 1.5em;
	text-align: center;
}

footer img {
	height: 35px;
	margin-left: 15px;
	transition: all 0.4s;
	width: 35px;
}

footer img:hover {
	transform: scale(1.5);
}

footer ul li {
	display: inline-block;
	list-style: none;
}