@media screen and (min-width: 768px) {

	* {
		font-family: 'Bookman Old Style', serif;
	}

	header, #yo, #daw, #contacto {
		min-height: 768px;
	}

	header {
		background: url("../img/portada.jpg") no-repeat center center fixed;
		background-size: cover;
		opacity: 0.5;
	}

	header h1 {
		padding-top: 2em;
		font-size: 52px;
		padding-bottom: 1em;
	}

	header h2 {
		font-size: 27px;
	}

	nav {
		padding-top: 2em;
	}

	nav ul a {
		font-size: 27px;
		color: white;
	}

	nav ul a li {
		display: inline-block;
	}

	.subir {
		width: 40px;
		height: 40px;
	}

	#yo, #daw, #contacto {
		background: url("../img/daw.png") no-repeat center center fixed;
		background-size: cover;
		opacity: 1;
		color: white;
		min-height: 600px;
	}

	#yo h2, #daw h2, #contacto h2 {
		padding-top: 4px;
		font-size: 32px;
		color: white;
	}

	#yo p {
		font-size: 16px;
		margin: 1em;
	}

	#yo #nomovil {
		display: block;
	}

	#foto {
		height: 200px;
		width: 150px;
		display: inline-block;
		margin-left: 2em;
		margin-top: 2em;
	}

	#foto:hover {
		box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
		transform: scale(1.1);
	}

	#biografia {
		display: inline-block;
		vertical-align: top;
		width: 60%;
	}

	#daw {
		height: 100%;
	}

	#daw article {
		display: inline-block;
		width: 45%;
		height: 230px;
	}

	.contenido h3 {
		font-size: 30px;
	}

	#contacto form * {
		margin: 1em;
	}

	#contacto label {
		font-size: 20px;
		display: inline;
		color: white;
	}

	#contacto input[type=text], #contacto textarea {
		font-size: 18px;
		width: 96%;
	}
	
	#contacto .button {
		margin-right: 2em;
	}

	footer {
		display: none;
	}
	
}