* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	background: url("../img/portadamovil.jpg") no-repeat center center fixed;
	background-size: cover;
	opacity: 0.5;
	width: 100%;
    height: 100%;
}

header h1 {
	font-size: 42px;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 0.2em;
	text-shadow: 2px 2px 2px black;
}

header h2 {
	font-size: 22px;
	text-shadow: 2px 2px 2px black;
}

h1, h2 {
	color: white;
	text-align: center;
}

nav {
	display: inline-block;
	text-align: center;
	width: 100%;
}

nav ul a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul a li {
	display: block;
	list-style: none;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid black;
	border-radius: 10px;
}

nav ul a li:hover {
	border: 1px solid white;
}

nav ul a li:hover {
	color: purple;
	text-shadow: 0 0 5px #fff,
		0 0 10px #fff, 0 0 15px #fff,
		0 0 20px cyan,
		0 0 30px cyan,
		0 0 40px cyan,
		0 0 50px cyan,
		0 0 75px cyan;
}

header h1 {
	animation-name: presentacion;
	animation-duration: 3s;
}

header h2 {
	animation-name: presentacion;
	animation-duration: 6s;
}

@keyframes presentacion {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.subir {
	width: 30px;
	height: 30px;
	position: absolute;
	margin-left: 0.5em;
}

#yo, #daw, #contacto {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
    height: 100%;
	background: url("../img/daw.png") no-repeat center center fixed;
	background-size: cover;
	opacity: 0.9;
	color: white;
}

#yo h2, #daw h2, #contacto h2 {
	font-size: 20px;
	text-transform: uppercase;
}

#daw article {
	padding: 1em;
	margin-bottom: 0.5em;
	opacity: 0.8;
	vertical-align: top;
}

.contenido {
	height: 100%;
	opacity: 0;
	position: relative;
	transition: all 1s;
}

.contenido h3 {
	font-size: 26px;
	padding-top: 1.2em;
	text-align: center;
}

.contenido p {
	padding: 1em;
	text-align: center;
}

.imagen a {
	color: black;
	text-decoration: none;
}

.imagen:hover .contenido {
	background: rgba(255,255,255,0.8);
	opacity: 1;
}

#p9 {
	background: url("../img/9.jpg") center;
}

#p10 {
	background: url("../img/10.jpg") center;
}

#p11 {
	background: url("../img/11.jpg") center;
}

#p12 {
	background: url("../img/12.jpg") center;
}

#p9, #p10, #p11, #p12 {
	background-size: 100% 200px;
	height: 200px;
	width: 100%;
}

#contacto form {
	padding-top: 12px;
}

#contacto article {
	text-align: center;
}

#contacto label {
	display: none;
}

#contacto .button {
	font-weight: bold;
    cursor: pointer;
    border-radius: 8px 8px 8px 8px;
	background: white;
	border: 2px solid black;
	color: black;
	display: inline;
	margin-top: 2em;
	padding: 0.5em 2em;
	text-transform: uppercase;
}

#contacto .button:hover {
	background: rgba(0,0,0,0.6);
	color: white;
}

#contacto input[type=text], #contacto textarea {
	margin-bottom: 1em;
	width: 100%;
	color: grey;
}

input[required]{
	border-color:blue;
}

input:invalid{
	border-color:red;
}

.error {
	color: red;
}

footer {
	background: grey;
	opacity: 0.7;
	text-align: center;
	position: fixed;
  	bottom: 0;
  	width: 100%;
}

footer img {
	height: 40px;
	width: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all 0.4s;
}

footer img:hover {
	transform: scale(1.6);
}

footer ul li {
	display: inline-block;
	list-style: none;
}

#yo article div {
	margin: 1em;
}

.logos1, .logos2, .logos3 {
	width: 80px;
	height: 80px;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 10px;
}