@media screen and (min-width: 1280px) {
	
	header, #yo, #daw, #contacto {
		min-height: 600px;
	}

	header h1 {
		padding-top: 1.5em;
		font-size: 62px;
	}

	nav ul a li {
		border: none;
	}

	nav ul a {
		font-size: 32px;
	}

	nav ul a li:hover {
	    border: 1px solid black;
	    text-shadow: 0 0 0px;
	    transform: scale(1);
	}
	 
	nav ul a li:hover {
	    color: black;
	}

	.subir {
		width: 60px;
		height: 60px;
	}

	#yo, #daw, #contacto {
		min-height: 600px;
	}

	#yo h2 {
		font-size: 36px;
	}

	#yo p {
		font-size: 18px;
	}

	#yo #biografia {
		*width: 50%;
	}

	#foto {
		height: 300px;
		width: 300px;
	}

	#daw h2 {
		font-size: 36px;
	}

	#daw article {
		width: 35%;
		margin-left: 5%;
	}

	#contacto h2 {
		font-size: 36px;
	}
	
	#contacto input[type=text], #contacto textarea {
		font-size: 18px;
	}
}