@font-face {
	font-family: Vivaldi;
	font-style: normal;
	font-weight: normal;
	src: url(VIVALDI0.eot);
}
@font-face{
	font-family: "gothic";
	font-style: normal;
	font-weight: normal;
	src: url(gothic.otf);
}
#gothic{
	font-family: "gothic";
}
#vivaldi{
	font-family: "Vivaldi";
}

@font-face {
	font-family: Gabriola;
}

#gabriola {
	font-family: Gabriola;
	font-style: italic;
	-moz-font-feature-settings: "ss07";
	font-feature-settings: "ss07";
}

@font-face {
	font-family: megalopolis;
	src: url(MEgalopolisExtra.woff) format("woff"),
	url(MEgalopolisExtra.otf) format('opentype');
}

#megalopolis {
	font-family: megalopolis, sans-serif;
	font-style: italic;
	font-variant: small-caps;
	-moz-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}