nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 200px;
}

nav > ul li {
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  float: none;
}

nav > ul > li > a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 4px solid #1b9bff;
  color: #000000;
}

ul li.hover, ul li:hover {
  cursor: default;
}

ul > li > a:hover {
  color: #ffffff;
}

ul > li a:hover, ul > li:hover a {
  background: #1b9bff;
}