nav {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  float: left;
  width: 200px;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
  background-color: rgb(127,127,127);
  padding:2px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 200px;
}

ul li {
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  float: none;
}

ul li.hover, ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

ul > li > a {
  border-right: 4px solid #1b9bff;
  color: #000000;
}

ul > li > a:hover {
  color: #ffffff;
}

ul > li a:hover, ul > li:hover a {
  background: #1b9bff;
}