article, footer, header, main, nav, section { 
	display: block; 
}

html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

html, button, input, select, textarea { 
	font-family: sans-serif; color: #222; 
}

body { 
	margin: 0; 
	ont-size: 1em; 
	line-height: 1.4; 
	background: #E1E6F5;
}

a { 
	color: #fff; 
	ext-decoration: none;
}

a:visited { 
	color: #f0f; 
}

a:hover { 
	color: #06e; 
}

ul, ol { 
	margin: 1em 0; 
	padding: 0 0 0 40px; 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
}

img { 
	border: 0; 
	vertical-align: middle;
}

svg:not(:root) { 
	overflow: hidden; 
}


form { 
	margin: 0; 
}

fieldset { 
	border: 0; 
	margin: 0; 
	padding: 0; 
}

label { 
	cursor: pointer; 
}

button, input, select, textarea { 
	font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; 
}

button, input { 
	line-height: normal; 
}

button, input[type="button"], input[type="reset"], input[type="submit"] { 
	cursor: pointer; 
	-webkit-appearance: button; 
}

button[disabled], input[disabled] { 
	cursor: default; 
}

input[type="checkbox"], input[type="radio"] { 
	box-sizing: border-box; 
	padding: 0; 
}

input[type="search"] { 
	-webkit-appearance: textfield; 
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box; 
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { 
	-webkit-appearance: none; 
}

button::-moz-focus-inner, input::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}

textarea { 
	overflow: auto; 
	vertical-align: top; 
	resize: vertical; 
}

input:valid, textarea:valid {  

}

input:invalid, textarea:invalid { 
	background-color: #f0dddd; 
}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

td { 
	vertical-align: top;
	margin: 3px;
	padding: 3px; 
}

#web {
	background: white;
	width: 960px;
	margin: 40px auto 10px auto;
	padding: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
	-webkit-box-shadow: 0px 1px 5px 1px #38466F;
	-moz-box-shadow: 0px 1px 5px 1px #38466F;
	box-shadow: 0px 1px 5px 1px #38466F;
}

h2, h1{
	margin: 0;
}

h2 {
	color: #303647;
}
h1 {
	color: #071337;
}

nav {
	margin: 20px 0;
	width: 100%;
	height: 40px;
	padding: 0;	
}

li {
	*float: left;
	list-style:none;
	margin: 3px;
	padding: 3px;
}

a {
	padding: 5px 10px;
	background: #38466F;
	border: solid 1px #071337;
	color: #E1E6F5;
	border-radius: 5px;
	*display: block;
	margin-right: 10px;
}

a:hover {	
	background: #303647;	
}

main {
	margin-top: 20px;
	border: 1px dotted #CCC;
	padding: 10px;
	border-radius: 5px;
}