html { 
  font-size: 100%; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
}

body{
	margin: 0;
    background-image:url('/img/back.jpg');
}

footer, header, #web { 
  display: block;
  width:100%; 
}

#web{
	width:95%;
	margin:0 auto;
	border-radius:20px;
	box-shadow:0px 0px 10px #4d4d2c;
	background-color: #CDCDC1;
}

header{
	padding:1px;
	text-align:left;
	background-color:rgb(3,57,119);
	color:#ffffff;
	border-radius:20px 20px 0px 0px;
}

nav {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  float: left;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
  background-color: #CDCDC1;
  padding:2px;
  width: 17%;
}

main{
	width:80%;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	padding:2px;
}

section{
	float: left;
	width: 49%;
}

article{
	border-radius: 10px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
    margin: 3px;
    float: left;
}

#uno:hover, #dos:hover, #tres:hover, #cuatro:hover{
	background: rgba(111,255,255,0.5);
	opacity: 1;
}

#uno{
	background-color: rgba(93,0,0,0.5);;
}

#dos{
	background-color: rgba(0,93,0,0.5);;
}

#tres{
	background-color: rgba(0,0,93,0.5);;
}

#cuatro{
	background-color: rgba(33,0,93,0.5);;
}

footer{
	padding:1px;
	text-align:center;
	background-color:rgb(3,57,119);
	color:#FFFFFF;
	border-radius:0px 0px 20px 20px;
}

h1,h2,h3,h4,h5,h6{
	margin: 3px;
	padding: 3px;
}

h1, h4 {
	text-align: center;
}

table{
	float: left;
	margin: 1px;
	width:100%;
}

th, td{
	text-align: justify;
	padding: 10px;
	float: left;
	width:100%;
}

footer a {
	color:#FFFFFF;
	padding: 20px;
}