*{
	margin: 0;
	padding: 0;}

body{
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
}

main{
  text-align: center;
}

article{
	text-align: center;
}

@font-face {
    font-family: myFont;
    src: url(sansation_light.woff);
}

h1{
  color: white;
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: 300%;
  font-family: myFont;
}


a{
  border-radius:3px;
  border:1px solid white;
  cursor:pointer;
  color:#fff;
  font-size:20px;
  padding:15px 15px;
  text-decoration:none;
}

a:hover{
  color: red;
  border: 1px solid red;
}

footer {
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background: rgba(57, 50, 40, 0.8);
  border-top: 3px solid #7ba492;
}

footer span{
  float: left;
  margin-left: 15px;
}

footer ul li {
  list-style: none;
  background: rgba(57, 50, 40, 0.8);
}

footer a {
  float: right;
  margin-right: 15px;
  font-size:15px;
  padding:5px 5px;
}